@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap");

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #415364;
}

h1,
h2 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 24px;
}

h3 {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 15px;
}

.container {
	max-width: 60%;
	padding: 0 15px;
	margin: auto;
	overflow: hidden;
}

.navbar {
	background-color: #243746;
	color: #fff;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burger-icon {
	border: 1px solid #fff;
	border-radius: 5px;
}

.bell-icon {
	transform: rotate(10deg);
}

@media (max-width: 991.98px) {
	.container {
		max-width: 100%;
		padding: 0;
	}
}

@media (max-width: 991.98px) {
	.container {
		max-width: 100%;
		padding: 0;
	}
}
